{% extends 'base.html.twig' %}

{% block title %}{{ 'cookies.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'cookies.title' | trans }}</h1>

    <p>{{ 'cookies.text' | trans }}</p>
{% endblock %}