@use '../base/variables' as vars;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: vars.$secondary-color;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        flex: 1;
    }

    .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 80%;
        min-width: 60%;
        max-width: 90%;
        margin: 0 auto;
    }
}