$primary-color: #121212;
$secondary-color: #1e1e1e;
$accent-color: #00f5a0;
$title-color: #ffffff;
$text-color: #f4f4f4;

$main-font: 'TASA Orbiter', sans-serif;

$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 2rem;

@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');